.typewriter-text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  color: #696969;
  white-space: nowrap;
  z-index: 1;
} 


@media (max-width: 1100px) {
  .typewriter-text {
    font-size: 16px;
  }
}

@media (max-width: 890px) {
    .typewriter-text {
      font-size: 14px;
    }
  }
  
@media (max-width: 768px) {
  .typewriter-text {
    font-size: 12px;
    white-space: normal;
    max-width: 300px;
    text-align: center;
    top: 80%; /* Shifted down from 75% */
  }
}
