/* Desktop Navbar */
.desktop-navbar {
	height: 60px;
	background: #ffffff;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	border-bottom: 1px solid #e5e5e5;
}

.desktop-navbar-left {
	font-size: 20px;
	font-weight: bold;
}

.desktop-navbar-right-items {
	display: flex;
	gap: 10px;
	align-items: center;
}

.button-no-underline {
	text-decoration: none;
}

.button-no-underline:hover {
	cursor: pointer;
	opacity: 0.8;
}

.divider {
	width: 1px;
	height: 24px;
	
	margin: 0 8px;
}

/* Mobile Navbar */
.mobile-navbar {
	background: #ffffff;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	border-bottom: 1px solid #e5e5e5;
}

.mobile-navbar-left {
	font-size: 20px;
	font-weight: bold;
}

.mobile-drawer-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
    justify-content: space-between;
    height: 100%;
}

.drawer-footer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.drawer-divider {
	width: 100%;
	height: 1px;
	background: #e5e5e58f;
	margin: 10px 0;
}

.mobile-drawer-content .ant-btn-text {
    text-align: left;
    padding: 8px 0;
}

.mobile-drawer-content .ant-btn-text:hover:not([disabled]) {
    background-color: rgba(0, 0, 0, 0.04);
}

.mobile-drawer-content .ant-typography {
    display: block;
}

/* Responsive */
@media (min-width: 1050px) {
	.mobile-navbar {
		display: none;
	}
}

@media (max-width: 1049px) {
	.desktop-navbar {
		display: none;
	}
}
