.side-nav {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: calc(100vh - 60px);
    background-color: #ffffff;
    padding-top: 10px;
    justify-content: space-between;
    border-right: 1px solid #e8e8e8;
}

.side-nav-menu {
    height: 100%;
    padding-bottom: 16px;
}

.side-nav-menu .ant-menu-item {
    height: 50px;
    line-height: 50px;
    margin: 4px 0;
}

.side-nav-menu .ant-menu-item:hover,
.side-nav-menu .ant-menu-item-selected {
    background-color: #eef1fe !important;
}

.side-nav-menu .ant-menu-item-selected {
    color: #3f65f3 !important;
}

.side-nav-menu .ant-menu-item::after {
    border-inline-end: none !important;
}

.side-nav-menu.ant-menu {
    border-inline-end: none !important;
}

.side-nav-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-nav-footer {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.side-nav-header .ant-input-search {
    width: calc(100% - 20px);
}

.side-nav-header .ant-input-search .ant-input-disabled {
    background-color: #f9f9f9;
    border-color: #f0f0f0;
    color: #bfbfbf;
}

.side-nav-header .ant-input-search .ant-input-group-addon {
    background-color: #f9f9f9;
    border-color: #f0f0f0;
}

.side-nav-header .ant-input-search .ant-input-search-button {
    border-color: #f0f0f0;
}

@media screen and (max-width: 1050px) {
    .side-nav {
        display: none;
    }
}
